body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d6efd; 
    color: white;
    display: flex;
    justify-content: center; /*indhold centreret*/
    align-items: center; /*centreret vertikalt*/
    height: 100vh; 
}

/* container til tekst og formular */
.newsletter-container {
    position: relative;
    height: 60%;
    justify-content: space-between; /*tekst til venstre og formular til højre*/
    align-items: center; /*indhold centreret vertikalt*/
    width: 80%;
    margin: 0 auto;
    max-width: 900px; 
    display: flex; /*tekst og formular ved siden af hinanden*/
    z-index: 2; /* synlig selvom pæren tændes */
}

/* venstre side (tekst + pære) */
.text-section {
    width: 50%; 
    text-align: left;
}

/* stor overskrift */
.text-section h1 {
    font-size: 60px;
    width: 85%;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #9bfc00;
}

.text-section p {
    text-align: center;
    width: 85%;
}

/* pæren (knap) */
#lightbulb {
    font-size: 30px;
    background: none; /*baggrund fjernes*/
    border: none;
    cursor: pointer; /*tydelig knap*/
    margin-bottom: 10px;
}

/* højre side (formular) */
.form-section {
    width: 40%;
    display: flex;
    flex-direction: column; /*felterne placeret lodret*/
    align-items: center;
    
}

/* Input-felter */
form input {
    width: 270px;
    height: 30px;
    padding: 10px; /*felternes størrelse*/
    margin-bottom: 10px; /*afstanden mellem felterne*/
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* knap (stor gul cirkel) */
.circle-button {
    width: 100px;
    height: 100px;
    position: absolute; 
    right: -40px; 
    top: 50%;
    transform: translateY(-50%); /* Juster for at sikre, at knappen er centreret vertikalt */
    border-radius: 50%;
    background-color: gold;
    color: #0d6efd;
    border: none;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /*markør - hånd*/
    transition: transform 0.3s ease-in-out; /*animation ved hoover*/
}

/* hoover-effekt på knap */
.circle-button:hover {
    transform: scale(1.1); /*større kant ved hoover*/
}

/* det hele synligt når slideshow kører*/
.overlay {
    position: fixed; /*ovenpå baggrunden*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0; 
    display: none;
}

/* slideshow */
.slideshow {
    position: fixed; /*fast baggrund*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2; 
    background-size: cover; /*billeder fylder hele baggrunden*/
    background-position: center;
    transition: background-image 0.3s ease-in-out; /* hurtig overgang mellem billederne */
}
